html {
    background-color: #f1f5f9;
    font-family: sans-serif;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    color : #d62b2b
  }
  h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
    color : #0e5f58
  }
  h4{
    margin: 2rem 3;
    font-size: 1.2rem;
    color : #3ae7d9
  }
  
  }